::selection {
  background-color: #f4e1d2;
  color: #000;
}

*, *::before, *::after {
  font-family: cursive, system-ui;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}